html, body {
    height: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    background-color: #CFD8DC;
    font-family: sans-serif, Arial, Helvetica;
}

body {
    display: inline;
    text-align: center;
    margin-top: -10px;
    padding: 10px;
}

#courses {
    margin-left: -80px;
}

ul {
    list-style-type: none;
/*    display: inline;
*/}

ul.noindent {
    margin-left: -8px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 0px;
    float: left;
    text-align: right !important;
}

#map {
    float: right;
}

li {
/*    display: inline;*/
    margin-right: 5px;
    margin-top: 5px;
}

th {
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

th, td {
    text-align: left;
    padding: 5px;
}

tr.even {
    background-color: #B0BEC5;
}

input, button {
    margin-top: 20px;
    border-radius: 20px;
    border: 0;
    padding: 10px;

}

input:focus, button:focus {
    outline: none;
}

button {
    background-color: #00e676;
}

button:hover{
    -moz-box-shadow: inset 0 0 10px #757575;
    -webkit-box-shadow: inset 0 0 10px #757575;
    cursor: pointer;
}

button:active {
    -moz-box-shadow: inset 0 0 100px #616161;
    -webkit-box-shadow: inset 0 0 100px #616161;
    cursor: pointer;
}
